main {
    grid-area: main;
}
.content {
    display: grid;
    grid-template-areas: 
    "top"
    "about"
    "skills"
    "works"
    "contact";
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--bg-white);
    height: 100vh;
}

.image-wrapper {
    width: 100%; 
    object-fit: contain;   /* コンテナ内に収まる */
}
.YSK {
    position: relative;
    top: 10%;
    left: 10%;
    width: 60%;
}
.Portfolio {
    position: relative;
    top: 25%;
    left: 45%;
    width: 40%;
}



/* メインコンテンツ */
h1 {
    font-family: var(--mainfont);
    font-size: 4vw;
    font-weight: 400;
    margin: 8vh 0 6vh 10vw;
}
.items {
    margin: 7vh 4vw;
    height: 50vw;
    background-color: var(--bg-white);
}
@media (max-width: 1100px) {
    h1 {
        font-size: 8vw;
    }
}
/* 私について */
#about {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: 
    "head head"
    "my-image my-profile";
    height: 50vw;
}
.head {
    grid-area: head;
}

.items-container {
    display: contents;
}

.items-container .my-image {
    filter: grayscale(100%);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    width: 20vw;
    height: auto;
    position: relative;
    left: 25%;
}

.items-container .my-profile {
    grid-area: my-profile;
    display: flex;
    flex-direction: column;
}
.items-container .name {
    margin: 13% 3vw 0 3vw;
    font-size: clamp(1rem, 1.6vw, 1.6vw);
}
.items-container .data {
    margin: 7% 3vw;
    font-size: clamp(0.8rem, 1.1vw, 1.1vw);
    font-family: var(--subfont);
    line-height: 3vw;
}
.items-container .button {
    text-align: end;
    margin-right: 20%;
    font-size: clamp(0.8rem, 1.3vw, 1.3vw);
    font-family: var(--mainfont);
}
.items-container .button a {
    text-underline-offset: 1vh;
    text-decoration-thickness: 1px;
    color: var(--font-black);
    transition: font-size 0.3s ease;
}
@media (min-width: 1101px) {
    .items-container .button a:hover {
        font-size: clamp(0.8rem, 1.4vw, 1.4vw);
    } 
}
@media (max-width: 1100px) {
    #about {
        display: flex;
        flex-direction: column;
        height: 105vh;
        max-height: 1450px;
    }
    .items-container {
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center; 
    }
    .items-container .my-image {
        width: 35vw;
        min-width: 200px;
        left: 0;
        margin-top: 5%;
    }
    .items-container .name {
        font-size: clamp(1rem, 3vw, 3vw);
        text-align: center;
    }
    .items-container .data {
        line-height: 6vw;
        margin: 7% 5vw;
        font-size: clamp(0.8rem, 2vw, 2vw);
    }
    .items-container .data br {
        display: none;
    }
    .items-container .button {
        margin-right: 10%;
        font-size: clamp(0.8rem, 2vw, 2vw);
    }
}

/* できること */
#skills {
    height: 70vw;
    margin: 0;
    background-color: var(--bg-black);
    color: var(--font-white);
}
.my-skills {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "myskill-1"
    "myskill-2"
    "myskill-3";
    height: 50vw;
}

.myskill-1, .myskill-2, .myskill-3 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "skill-head skill-container";
    margin: 2vw 5vw 0 15vw;
}
.skill-main {
    font-size: clamp(1.3rem, 2.5vw, 2.5vw);
    font-family: var(--mainfont);
    text-decoration: underline;
    text-decoration-thickness: 3px;
    padding-bottom: 10px;
}
.skill-sub {
    font-size: clamp(1.3rem, 1.5vw, 1.5vw);
    font-family: var(--mainfont);
}
.skill-container {
    font-size: clamp(1.3rem, 1.6vw, 1.6vw);
    padding-top: 3vw;
    line-height: 3vw;
}
@media (max-width: 1100px) {
    #skills {
        height: 115vh;
    }
    .myskill-1, .myskill-2, .myskill-3 {
        grid-template-rows: 1fr 4fr;
        grid-template-columns: none;
        grid-template-areas:    
        "skill-head" 
        "skill-container";
        height: 30vh;
    }
    .skill-main {
        font-size: clamp(1.3rem, 5vw, 5vw);
        text-decoration-thickness: 1px;
        padding-bottom: 10px;
    }
    .skill-sub {
        font-size: clamp(0.6rem, 2vw, 2vw);
    }
    .skill-container {
        font-size: clamp(01rem, 3vw, 3vw);
        padding-top: 3vw;
        line-height: 6vw;
    }
}

/* 作ったもの */
#works {
    height: 70vw;
}
.my-works {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "mywork-4 mywork-3"
    "mywork-2 mywork-1";
    height: 55vw;
    list-style-type: none;
}
.my-works a {
    text-decoration: none;
    color: var(--font-black);
}
.mywork-1 {
    grid-area: mywork-1;
    margin: 1vw 5vw;
}
.mywork-2 {
    grid-area: mywork-2;
    margin: 1vw 5vw;
}
.mywork-3 {
    grid-area: mywork-3;
    margin: 1vw 5vw;
}
.mywork-4 {
    grid-area: mywork-4;
    margin: 1vw 5vw;
}

.work-img {
    width: 30vw;
    height: auto;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-out;
}
@media (min-width:1101px) {
    .work-img:hover {    
        transform: scale(1.1);
    }
}
.work-main {
    font-size: clamp(1.3rem, 1.2vw, 1.2vw);
    padding: 1.5vw 0 1vw 0;
}
.work-sub {
    font-size: clamp(1.3rem, 1.8vw, 1.8vw);
}
@media (max-width: 1100px) {
    #works {
        height: 210vh;
    }
    .my-works {
        display: grid;
        grid-template-rows: none;
        grid-template-columns: none;
        grid-template-areas: 
        "mywork-4" 
        "mywork-3"
        "mywork-2"
        "mywork-1";
        height: 0;
    }
    .mywork-1 {
        grid-area: mywork-1;
        margin: 3vh 5vw;
    }
    .mywork-2 {
        grid-area: mywork-2;
        margin: 3vh 5vw;
    }
    .mywork-3 {
        grid-area: mywork-3;
        margin: 3vh 5vw;
    }
    .mywork-4 {
        grid-area: mywork-4;
        margin: 3vh 5vw;
    }
    
    .work-img {
        width: 50vw;
        min-width: 250px;
        height: auto;
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    }
    .work-main {
        font-size: clamp(0.7em, 2vw, 2vw);
        padding: 1.5vh 0 1vh 0;
        margin: 3vh 0 1vh 0;
    }
    .work-sub {
        font-size: clamp(1rem, 3vw, 3vw);
        margin-bottom: 5vh;

    }
}

/* コンタクト */
#contact {
    height: 25vw;
}
.contact-method {
    margin: 5vw 0;
    font-size: 5vw;
    text-align: center;
}


.contact-mail {
    font-family: var(--mainfont);
    text-decoration: none;
    color: var(--font-black);
    position: relative;
    transition: color 0.4s, text-shadow 0.4s;
}

@media (min-width: 1101px) {
    .contact-mail::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px; /* アンダーラインの位置を調整 */
        width: 100%;
        height: 2px; /* アンダーラインの太さを調整 */
        background-color: var(--bg-black);
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.4s 0.1s; /* 0.4秒の遅延を設定 */
    }
    
    .contact-mail:hover {
        color: var(--bg-white);
        text-shadow: 
                -3px -3px 0 var(--font-black),  /* 左上の影 */
                 3px -3px 0 var(--font-black),  /* 右上の影 */
                -3px  3px 0 var(--font-black),  /* 左下の影 */
                 3px  3px 0 var(--font-black);  /* 右下の影 */
    }
    
    .contact-mail:hover::after {
        transform: scaleX(1);
    }    
}

@media (max-width: 1100px) {
    #contact {
        height: 40vw;
    }
    #contact h1 {
        margin: 4vh 0 4vh 10vw;
    }
}
