* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mainfont: "Noto Serif", serif;
    --subfont: "Noto Sans JP", sans-serif;
    --bg-color: lightgray;
    --bg-black: black;
    --bg-white: white;
    --aside:  rgb(160, 160, 160);
    --font-white: white;
    --font-black: black;
    --hmb-white: white;
    --hmb-gray: rgb(137, 137, 137);
}

body {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas: 
        "aside main"
        "aside fooder";
    
    max-height: 100%;
    background-color: var(--bg-color);
    color: var(--font-black);
    font-family: var(--sub-font);
    line-height: 1;
    opacity: 0;
    transition: opacity 1s ease;
}
#body.show {
    opacity: 1;
}

#content {
    grid-area: aside;
    background-color: var(--aside);
}


/* ローディングスクリーンのスタイル */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    display: none; /* 初期状態は非表示 */
}
/* スピナーのスタイル */
.spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* フェードイン用の白い画面 */
#white-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 9999;
    display: none; /* 最初は非表示 */
    opacity: 1;
    transition: opacity 1s ease;
}
/* フェードアウト時のスタイル */
.fade-out {
    opacity: 0;
}

.aikon {
    display: flex;
    position: fixed;
    width: 150px;
    height: 150px;
    margin: 45px;
    z-index: 1000;
    cursor: pointer;
}

nav ul {
    position: fixed;
    top: 30%;
    left: 2%;
    list-style: none;
    text-align: end;
    font-family: var(--mainfont);
}
nav ul li {
    padding-bottom: 1vh;
}
.menu li a {
    color: var(--font-white);
    display: block;
    font-size: 50px;
    padding: 10px;
    text-decoration-thickness: 1px; /* 下線の太さを指定 */
    text-underline-offset: 5px;
}
.menu p {
    font-size: 25px;
    color: var(--font-white);
    padding-bottom: 5vh;
}

.social {
    display: flex;
    position: relative;
    margin-top:50px;
    gap: 5px;
}
.social-items {
    list-style: none;
    width: 60px; /* 固定幅 */
    height: 100px; /* 固定高さ */
}
.social-items a {
    width: 100%;
    height: 100%;
}
.social-items img {
    width: 40px; /* 画像の幅をビューポート幅の10%に設定 */
    height: auto; /* 高さを自動調整 */
}

/* ハンバーガーメニュー */
@media (max-width: 1100px) {
    body {
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "aside"
            "main";
    }
    .aikon {
        width: 14vw;
        height: 14vw;
        margin: 20px;
    }
    #hmb {
        position: fixed;
        top: 0;
        right: 75px;
        margin: 5vw;
        display: block;
        cursor: pointer; /* 指マークになる */
        z-index: 30;
    }
    
    #hmb span {
        width: 40px;
        height: 4px;
        display: block;
        margin: 12px 16px;
        position: absolute;
        transition: .2s;   
    }
    
    #hmb span:first-child { /* 一つ目のspanだけCSS適用 */
        top: 0;
    }
    
    #hmb span:nth-child(2) { /* 二つ目のspanだけCSS適用 */
        top: 14px;
    }
    
    #hmb span:nth-child(3) { /* 三つ目のspanだけCSS適用 */
        top: 28px;
    }
    /* アクティブ */
    .active #hmb span:first-child {
        top: 12px;
        transform: rotate(45deg);
    }

    .active #hmb span:nth-child(2) {
        opacity: 0;
    }

    .active #hmb span:nth-child(3) {
        top: 12px;
        transform: rotate(-45deg);
    }

    .active #hmb p {
        opacity: 0;
    }

    .active nav {
        visibility: visible;
        opacity: 1;
        transform: translateY(0); /* 表示時のアニメーション */
    }

    .active nav ul {
        opacity: 1;
        transform: translateY(0); /* 表示時のアニメーション */
    }
    #hmb p { 
        color: var(--font-white);
        text-align: center;
        margin-top: 52px;
        font-size: 1rem;
    }
    nav {
        position: fixed; /* スクロールしても画面固定 */
        top: 0;
        right: 0;
        width: 100%; 
        max-width: 100%; 
        height: 100%; /* 画面に対して100% */
        display: grid; /* flexだとに分割されるのでgridで一つの箱に */
        justify-items: first baseline;
        align-items: end; /* 縦方向中央揃え */
        background-color: black; 
        z-index: 20;
        opacity: 0; /* 初期状態は透明 */
        visibility: hidden; /* 初期状態は非表示 */
        transition-property: opacity, visibility;
        transition-duration: 0.4s;
        transition-timing-function: ease-out;
    }
    nav ul {
        position: absolute;
        left: 10%;
        text-align: left;
        opacity: 0; /* 初期状態は透明 */
        transform: translateY(50px); /* 下から上に移動するアニメーション */
        transition: opacity 1s ease, transform 1s ease; /* アニメーションの設定 */
    }
    .menu li a {
        font-size: 10vw;
        font-family: var(--mainfont);
        font-weight: 400;
        text-decoration: none;
        transition: color 0.2s ease; /* リンクの色の変化のアニメーション */
    }

    .menu p {
        padding-left: 10vw;
        padding-bottom: 5vh;
        font-size: 4vw;
        font-family: var(--subfont);
        font-weight: 300;
    }
    .social-items {
        width: 8vw;
    }
    .social-items img {
        width: 8vw;
        height: auto;
    }
}

main {
    grid-area: main;
}
.content {
    display: grid;
    grid-template-areas: 
    "top"
    "about"
    "skills"
    "works"
    "contact";
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--bg-white);
    height: 100vh;
}

.image-wrapper {
    width: 100%; 
    object-fit: contain;   /* コンテナ内に収まる */
}
.YSK {
    position: relative;
    top: 10%;
    left: 10%;
    width: 60%;
}
.Portfolio {
    position: relative;
    top: 25%;
    left: 45%;
    width: 40%;
}



/* メインコンテンツ */
h1 {
    font-family: var(--mainfont);
    font-size: 4vw;
    font-weight: 400;
    margin: 8vh 0 0vh 10vw;
}
.items {
    margin: 7vh 4vw;
    height: 50vw;
    background-color: var(--bg-white);
}

#about {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: 
    "head head"
    "my-image my-profile";
    height: 50vw;
    max-height: 1000px;
    max-width: 1600px;
}

.head {
    grid-area: head;
}

.items-container {
    display: contents;
}


.items-container img {
    filter: grayscale(100%);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    width: 20vw;
    max-width: 400px;
    height: auto;
    position: relative;
    left: 25%;
}

.items-container .my-profile {
    grid-area: my-profile;
    display: flex;
    flex-direction: column;
}
.items-container .name {
    margin: 13% 3vw 0 3vw;
    font-size: clamp(1.3rem, 1.6vw, 2.3rem);
}
.items-container .data {
    margin: 7% 3vw;
    font-size: clamp(0.5rem, 1.1vw, 1.4rem);
    font-family: var(--subfont);
    line-height: 3vw;
}
.items-container .button {
    text-align: end;
    margin-right: 20%;
    font-size: clamp(1rem, 1.3vw, 1.7rem);
    font-family: var(--mainfont);
}
.items-container .button a {
    text-underline-offset: 1vh;
    text-decoration-thickness: 1px;
    color: var(--font-black);
}

/* フッター */
footer {
    position: relative;
    bottom: 0;
    height: 5vw;
    background-color: var(--bg-black);
}



