* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mainfont: "Noto Serif", serif;
    --subfont: "Noto Sans JP", sans-serif;
    
    --square-color: rgb(255, 255, 255);
    --bg-color: rgb(228, 228, 228);
    --bg-black: black;
    --bg-white: white;
    --aside:  rgb(160, 160, 160);
    --font-white: white;
    --font-black: black;
    --hmb-white: white;
    --hmb-gray: rgb(137, 137, 137);
    --column-width: 7fr;
}


body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "aside main"
        "aside fooder";
    max-height: 100%;
    background-color: var(--bg-color);
    color: var(--font-black);
    font-family: var(--subfont);
    line-height: 1;
    opacity: 0;
    transition: opacity 1s ease;
    background-image:  linear-gradient(var(--square-color) 4px, transparent 4px), linear-gradient(90deg, var(--square-color) 4px, transparent 4px), linear-gradient(var(--square-color) 2px, transparent 2px), linear-gradient(90deg, var(--square-color) 2px, var(--bg-color) 2px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -4px -4px, -4px -4px, -2px -2px, -2px -2px;
}

#body.show {
    opacity: 1;
}

#content {
    grid-area: aside;
    background-color: var(--aside);
}


/* ローディングスクリーンのスタイル */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    display: none; /* 初期状態は非表示 */
}
/* スピナーのスタイル */
.spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* フェードイン用の白い画面 */
#white-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 9999;
    display: none; /* 最初は非表示 */
    opacity: 1;
    transition: opacity 1s ease;
}
/* フェードアウト時のスタイル */
.fade-out {
    opacity: 0;
}

.aikon {
    display: flex;
    position: fixed;
    width: 12vw;
    height: auto;
    z-index: 1000;
    cursor: pointer;
}

.aside-nav ul {
    position: fixed;
    top: 30%;
    left: 0;
    list-style: none;
    text-align: end;
    font-family: var(--mainfont);
}
.aside-nav ul li {
    padding-bottom: 1vh;
}
.menu li a {
    color: var(--font-white);
    display: block;
    font-size: 3vw;
    padding: 10px;
    text-decoration-thickness: 1px; /* 下線の太さを指定 */
    text-underline-offset: 5px;
}
.menu p {
    font-size: 1.5vw;
    color: var(--font-white);
    padding-bottom: 5vh;
}

.social {
    display: flex;
    position: relative;
    margin-top: 3vw;
    margin-left: 1vw;  
    gap: 5px;
}
.social-items {
    list-style: none;
    width: 3vw; /* 固定幅 */
    height: 100px; /* 固定高さ */
}
.social-items a {
    width: 100%;
    height: 100%;
}
.social-items img {
    width: 2.5vw; /* 画像の幅をビューポート幅の10%に設定 */
    min-width: 40px;
    height: auto; /* 高さを自動調整 */
}

/* ハンバーガーメニュー */
@media (max-width: 1100px) {
    body {
        grid-template-rows: auto 1fr 10vh;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "aside"
            "main"
            "footer";
    }
    .aikon {
        width: 60px;
        height: auto;
        margin: 5%;
    }
    #hmb {
        position: fixed;
        top: 0;
        right: 75px;
        margin: 5vw;
        display: block;
        cursor: pointer; /* 指マークになる */
        z-index: 30;
    }
    
    #hmb span {
        width: 40px;
        height: 4px;
        display: block;
        margin: 12px 16px;
        position: absolute;
        transition: .2s;   
    }
    
    #hmb span:first-child { /* 一つ目のspanだけCSS適用 */
        top: 0;
    }
    
    #hmb span:nth-child(2) { /* 二つ目のspanだけCSS適用 */
        top: 14px;
    }
    
    #hmb span:nth-child(3) { /* 三つ目のspanだけCSS適用 */
        top: 28px;
    }
    /* アクティブ */
    .active #hmb span:first-child {
        top: 12px;
        transform: rotate(45deg);
    }

    .active #hmb span:nth-child(2) {
        opacity: 0;
    }

    .active #hmb span:nth-child(3) {
        top: 12px;
        transform: rotate(-45deg);
    }

    .active #hmb p {
        opacity: 0;
    }

    .active nav {
        visibility: visible;
        opacity: 1;
        transform: translateY(0); /* 表示時のアニメーション */
    }

    .active nav ul {
        opacity: 1;
        transform: translateY(0); /* 表示時のアニメーション */
    }
    #hmb p { 
        color: var(--font-white);
        text-align: center;
        margin-top: 52px;
        font-size: 1rem;
    }
    .aside-nav {
        position: fixed; /* スクロールしても画面固定 */
        top: 0;
        right: 0;
        width: 100%; 
        max-width: 100%; 
        height: 100%; /* 画面に対して100% */
        display: grid; /* flexだとに分割されるのでgridで一つの箱に */
        justify-items: first baseline;
        align-items: end; /* 縦方向中央揃え */
        background-color: black; 
        z-index: 20;
        opacity: 0; /* 初期状態は透明 */
        visibility: hidden; /* 初期状態は非表示 */
        transition-property: opacity, visibility;
        transition-duration: 0.4s;
        transition-timing-function: ease-out;
    }
    .aside-nav ul {
        position: absolute;
        left: 10%;
        text-align: left;
        opacity: 0; /* 初期状態は透明 */
        transform: translateY(50px); /* 下から上に移動するアニメーション */
        transition: opacity 1s ease, transform 1s ease; /* アニメーションの設定 */
    }
    .menu li a {
        font-size: clamp(1rem, 10vw, 5rem);
        font-family: var(--mainfont);
        font-weight: 400;
        text-decoration: none;
        transition: color 0.2s ease; /* リンクの色の変化のアニメーション */
    }

    .menu p {
        padding-left: 10vw;
        padding-bottom: 5vh;
        font-size: clamp(1rem, 4vw, 2rem);
        font-family: var(--subfont);
        font-weight: 300;
    }
    .social {
        margin-top: 3vh;
    }
    .social-items {
        width: 8vw;
    }
    .social-items img {
        width: 8vw;
        height: auto;
    }
}

main {
    grid-area: main;
}
.content {
    display: grid;
    grid-template-areas: 
    "top"
    "about"
    "skills"
    "works"
    "contact";
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--bg-white);
    height: 100vh;
}

.image-wrapper {
    width: 100%; 
    object-fit: contain;   /* コンテナ内に収まる */
}
.YSK {
    position: relative;
    top: 10%;
    left: 10%;
    width: 60%;
}
.Portfolio {
    position: relative;
    top: 25%;
    left: 45%;
    width: 40%;
}



/* メインコンテンツ */
h1 {
    font-family: var(--mainfont);
    font-size: 4vw;
    font-weight: 400;
    margin: 8vh 0 6vh 10vw;
}
.items {
    margin: 7vh 4vw;
    height: 50vw;
    background-color: var(--bg-white);
}
@media (max-width: 1100px) {
    h1 {
        font-size: 8vw;
    }
}
/* 私について */
#about {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: 
    "head head"
    "my-image my-profile";
    height: 50vw;
}
.head {
    grid-area: head;
}

.items-container {
    display: contents;
}

.items-container .my-image {
    filter: grayscale(100%);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    width: 20vw;
    height: auto;
    position: relative;
    left: 25%;
}

.items-container .my-profile {
    grid-area: my-profile;
    display: flex;
    flex-direction: column;
}
.items-container .name {
    margin: 13% 3vw 0 3vw;
    font-size: clamp(1rem, 1.6vw, 1.6vw);
}
.items-container .data {
    margin: 7% 3vw;
    font-size: clamp(0.8rem, 1.1vw, 1.1vw);
    font-family: var(--subfont);
    line-height: 3vw;
}
.items-container .button {
    text-align: end;
    margin-right: 20%;
    font-size: clamp(0.8rem, 1.3vw, 1.3vw);
    font-family: var(--mainfont);
}
.items-container .button a {
    text-underline-offset: 1vh;
    text-decoration-thickness: 1px;
    color: var(--font-black);
    transition: font-size 0.3s ease;
}
@media (min-width: 1101px) {
    .items-container .button a:hover {
        font-size: clamp(0.8rem, 1.4vw, 1.4vw);
    } 
}
@media (max-width: 1100px) {
    #about {
        display: flex;
        flex-direction: column;
        height: 105vh;
        max-height: 1450px;
    }
    .items-container {
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center; 
    }
    .items-container .my-image {
        width: 35vw;
        min-width: 200px;
        left: 0;
        margin-top: 5%;
    }
    .items-container .name {
        font-size: clamp(1rem, 3vw, 3vw);
        text-align: center;
    }
    .items-container .data {
        line-height: 6vw;
        margin: 7% 5vw;
        font-size: clamp(0.8rem, 2vw, 2vw);
    }
    .items-container .data br {
        display: none;
    }
    .items-container .button {
        margin-right: 10%;
        font-size: clamp(0.8rem, 2vw, 2vw);
    }
}

/* できること */
#skills {
    height: 70vw;
    margin: 0;
    background-color: var(--bg-black);
    color: var(--font-white);
}
.my-skills {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "myskill-1"
    "myskill-2"
    "myskill-3";
    height: 50vw;
}

.myskill-1, .myskill-2, .myskill-3 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "skill-head skill-container";
    margin: 2vw 5vw 0 15vw;
}
.skill-main {
    font-size: clamp(1.3rem, 2.5vw, 2.5vw);
    font-family: var(--mainfont);
    text-decoration: underline;
    text-decoration-thickness: 3px;
    padding-bottom: 10px;
}
.skill-sub {
    font-size: clamp(1.3rem, 1.5vw, 1.5vw);
    font-family: var(--mainfont);
}
.skill-container {
    font-size: clamp(1.3rem, 1.6vw, 1.6vw);
    padding-top: 3vw;
    line-height: 3vw;
}
@media (max-width: 1100px) {
    #skills {
        height: 115vh;
    }
    .myskill-1, .myskill-2, .myskill-3 {
        grid-template-rows: 1fr 4fr;
        grid-template-columns: none;
        grid-template-areas:    
        "skill-head" 
        "skill-container";
        height: 30vh;
    }
    .skill-main {
        font-size: clamp(1.3rem, 5vw, 5vw);
        text-decoration-thickness: 1px;
        padding-bottom: 10px;
    }
    .skill-sub {
        font-size: clamp(0.6rem, 2vw, 2vw);
    }
    .skill-container {
        font-size: clamp(01rem, 3vw, 3vw);
        padding-top: 3vw;
        line-height: 6vw;
    }
}

/* 作ったもの */
#works {
    height: 70vw;
}
.my-works {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "mywork-4 mywork-3"
    "mywork-2 mywork-1";
    height: 55vw;
    list-style-type: none;
}
.my-works a {
    text-decoration: none;
    color: var(--font-black);
}
.mywork-1 {
    grid-area: mywork-1;
    margin: 1vw 5vw;
}
.mywork-2 {
    grid-area: mywork-2;
    margin: 1vw 5vw;
}
.mywork-3 {
    grid-area: mywork-3;
    margin: 1vw 5vw;
}
.mywork-4 {
    grid-area: mywork-4;
    margin: 1vw 5vw;
}

.work-img {
    width: 30vw;
    height: auto;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-out;
}
@media (min-width:1101px) {
    .work-img:hover {    
        transform: scale(1.1);
    }
}
.work-main {
    font-size: clamp(1.3rem, 1.2vw, 1.2vw);
    padding: 1.5vw 0 1vw 0;
}
.work-sub {
    font-size: clamp(1.3rem, 1.8vw, 1.8vw);
}
@media (max-width: 1100px) {
    #works {
        height: 210vh;
    }
    .my-works {
        display: grid;
        grid-template-rows: none;
        grid-template-columns: none;
        grid-template-areas: 
        "mywork-4" 
        "mywork-3"
        "mywork-2"
        "mywork-1";
        height: 0;
    }
    .mywork-1 {
        grid-area: mywork-1;
        margin: 3vh 5vw;
    }
    .mywork-2 {
        grid-area: mywork-2;
        margin: 3vh 5vw;
    }
    .mywork-3 {
        grid-area: mywork-3;
        margin: 3vh 5vw;
    }
    .mywork-4 {
        grid-area: mywork-4;
        margin: 3vh 5vw;
    }
    
    .work-img {
        width: 50vw;
        min-width: 250px;
        height: auto;
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    }
    .work-main {
        font-size: clamp(0.7em, 2vw, 2vw);
        padding: 1.5vh 0 1vh 0;
        margin: 3vh 0 1vh 0;
    }
    .work-sub {
        font-size: clamp(1rem, 3vw, 3vw);
        margin-bottom: 5vh;

    }
}

/* コンタクト */
#contact {
    height: 25vw;
}
.contact-method {
    margin: 5vw 0;
    font-size: 5vw;
    text-align: center;
}


.contact-mail {
    font-family: var(--mainfont);
    text-decoration: none;
    color: var(--font-black);
    position: relative;
    transition: color 0.4s, text-shadow 0.4s;
}

@media (min-width: 1101px) {
    .contact-mail::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px; /* アンダーラインの位置を調整 */
        width: 100%;
        height: 2px; /* アンダーラインの太さを調整 */
        background-color: var(--bg-black);
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.4s 0.1s; /* 0.4秒の遅延を設定 */
    }
    
    .contact-mail:hover {
        color: var(--bg-white);
        text-shadow: 
                -3px -3px 0 var(--font-black),  /* 左上の影 */
                 3px -3px 0 var(--font-black),  /* 右上の影 */
                -3px  3px 0 var(--font-black),  /* 左下の影 */
                 3px  3px 0 var(--font-black);  /* 右下の影 */
    }
    
    .contact-mail:hover::after {
        transform: scaleX(1);
    }    
}

@media (max-width: 1100px) {
    #contact {
        height: 40vw;
    }
    #contact h1 {
        margin: 4vh 0 4vh 10vw;
    }
}

/* フッター */
footer {
    position: relative;
    bottom: 0;
    height: 5vw;
    background-color: var(--bg-black);
    font-family: var(--mainfont);
}
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1vw;
    padding: 0 5vw;
}
.footer-nav {
    display: none;
}
.copyright {
    margin: 2vw 0;
    color: gray;
}

.go-top a {
    color: var(--font-white);
    text-decoration: none;
    position: relative;
}

@media (min-width:1101px) {
    .go-top a::after {
        content: ''; 
        position: absolute; 
        left: 0; 
        bottom: 0;
        width: 0;  /* 初期値は0 */
        height: 2px;
        background-color: var(--font-white);
        transition: width 0.3s ease;  /* 幅をアニメーションさせる */
    }
    
    .go-top a:hover::after {
        width: 100%;  /* ホバー時に幅を100%に */
    }   
}

@media (max-width:1100px) {
    footer {
        height: 20vh;
    }
    .footer-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "footer-nav go-top"
        "copyright copyright";
    }
    .footer-nav {
        grid-area: footer-nav;
        position: relative;
        gap: 5px;
        display: inline;
        margin: 5vh 0 2vh 0;
    }
    .footer-nav ul {
        display: flex;
        gap: 2vw;
        justify-content: center;
    }
    .footer-SNS {
        list-style: none;
        width: 5vw; /* 固定幅 */
        height: auto; /* 固定高さ */
    }
    .footer-SNS a {
        width: 100%;
        height: 100%;
    }
    .footer-SNS img {
        width: 3vh; /* 画像の幅をビューポート幅の10%に設定 */
        min-width: 10px;
        height: auto; /* 高さを自動調整 */
    }
    .copyright {
        grid-area: copyright;
        text-align: center;
        margin: 5vh 0 2vh 0;
        font-size: 1vh;
    }
    .go-top {
        grid-area: go-top;
        text-align: center;
        font-size: 1.5vh;
        padding-top: 2.5vh;
    }
}